<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Guide</title>
    <style>
        p {
            margin-bottom: 1em;
            line-height: 1.6;
            text-align: justify;
            font-size: 0.875em;
        }

        h4 {
            margin-top: 1.5em;
        }
    </style>
</head>
<body>
    <h4>Dashboard</h4>
    <p>The central place of the application where you will find key information about your customers and sales opportunities in the form of quick access.</p>

    <h4>Leads</h4>
    <p><strong>Adding a new lead:</strong> Click "Create new lead" and fill out the form.</p>
    <p><strong>Editing a lead:</strong> Go to the lead details and click "Edit" to make changes.</p>
    <p><strong>Deleting a lead:</strong> On the page with all leads, click "Delete" to remove a specific item.</p>
    <p><strong>Updating the progress of conversations with a given client:</strong> Click the "Reverse" or "Advance" button to update the status.</p>
    <p><strong>Adding information about the last contact with a given company:</strong> Go to the client's account edit and click "Add new record" to enter the data.</p>
    <p><strong>Deleting information about recent contacts with a given company:</strong> Go to the client's account edit and click "Delete all records" to remove the data.</p>

    <h4>Accounts</h4>
    <p><strong>Creating a new account:</strong> Click the "Create new account" button and fill out the form with client data.</p>
    <p><strong>Editing an account:</strong> Go to the account details and click "Edit" to modify the data.</p>
    <p><strong>Deleting an account:</strong> Click "Delete" on the page with all clients to remove a specific item.</p>
    <p><strong>Adding a contact phone to a specific department of a company:</strong> Go to the client's account edit and click "Add new record" to enter the data.</p>
    <p><strong>Deleting contact phones to departments of a company:</strong> Go to the client's account edit and click "Delete all records" to remove the data.</p>

    <h4>My Customers</h4>
    <p><strong>Go to the details of a given client:</strong> Click the "Details" button to go to the details.</p>

    <h4>My Opportunities</h4>
    <p><strong>Go to the details of a given sales opportunity:</strong> Click the "Info" button to go to the details.</p>
    <br>
</body>
</html>
