@using CRM.Application.Lead.Commands.Delete
@using CRM.Application.Lead.Commands;
@model CRM.Application.Lead.Commands.Delete.DeleteLeadCommand

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" style="margin-top: 0px;" data-bs-toggle="modal" data-bs-target="#deleteLeadModal">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="deleteLeadModal" tabindex="-1" aria-labelledby="deleteLeadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Lead" asp-action="Delete" asp-route-encodedName="@Model.LeadEncodedName" method="post">
                <input type="hidden" asp-for="LeadEncodedName" />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLeadModalLabel">Are you sure you want to delete this lead?</h1>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-dark">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}