@model CRM.Application.LeadCall.Commands.DeleteLeadCallCommand

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#deleteLeadCallModal">
    Delete all records
</button>

<!-- Modal -->
<div class="modal fade" id="deleteLeadCallModal" tabindex="-1" aria-labelledby="deleteLeadCallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="DeleteLeadCall" asp-route-encodedName="@Model.LeadEncodedName">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLeadCallModalLabel">Are you sure you want to delete all records?</h1>

                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="LeadEncodedName" class="form-control" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}