@model IEnumerable<CRM.Application.CRM.CRMDto>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h2>Every new day is a chance to develop relationships with customers!</h2>
</div>
