@* @using CRM.Application.CRM.Commands.DeleteCRM
@using CRM.Application.CRMService.Commands;
@model IEnumerable<CRM.Application.CRM.CRMDto>

@{
    ViewData["Title"] = "Opportunities";
}

<h2>Accounts</h2>

<div class="row">
    @foreach (var items in Model)
    {
        <div class="card m-3" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">@items.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@items.PhoneNumber</h6>
                <p class="card-text">@items.Mail</p>
                <div class="row action-buttons">
                    <div class="text-center">
                        @if (items.IsEditable)
                        {
                            <a class="btn btn-outline-secondary" asp-controller="CRM" asp-action="Edit" asp-route-encodedName="@items.EncodedName">Edit</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div> *@