@* @model IEnumerable<CRM.Application.Opportunities.Read.ReadOpportunitiesCommand>

<div class="row">
    @foreach (var opportunity in Model)
    {
        <div class="col-md-4">
            <h2>@opportunity.CreatedById</h2>
            @foreach (var name in opportunity.Name)
            {
                <p>@name</p>
            }
        </div>
    }
</div>
 *@