<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies Information</title>
    <style>
        p {
            margin-bottom: 1em;
            line-height: 1.6;
            text-align: justify;
            font-size: 0.875em;
        }
    </style>
</head>
<body>
    <br>
    <h3>Privacy</h3>
    <br>
    <h5>1. Information about cookies</h5>
    
    <p>
        The Website uses cookies. Cookies (so-called "cookies") are IT data, in particular text files, which are stored in the Service User's terminal equipment and are intended for use on the Website. Cookies usually contain the name of the website they come from, the time they are stored on the terminal equipment and a unique number.
    </p>
    <p>
        The entity placing cookies on the Service User's terminal equipment and accessing them is the Service operator. Cookies are used for the following purposes: maintaining a session of the Website user (after logging in), so that the user does not have to re-enter his/her login and password on each subpage of the Website.
    </p>
    <p>
        The Website uses two main types of cookies: "session" cookies and "permanent" cookies (persistent cookies). "Session" cookies are temporary files that are stored on the User's terminal device until the User logs out, leaves the website or shuts down the software (web browser). "Permanent" cookies are stored on the User's end device for the time specified in the parameters of the cookies or until they are deleted by the User.
    </p>
    <p>
        Web browsing software (Internet browser) usually allows the storage of cookies on the User's terminal device by default. Users of the Website may change their settings in this regard. The Internet browser makes it possible to delete cookies. It is also possible to automatically block cookies. Detailed information on this subject is contained in the help or documentation of the Internet browser.
    </p>
    <p>
        Restrictions on the use of cookies may affect some functionalities available on the Website. Cookies placed on the Website User's terminal equipment may also be used by entities cooperating with the Website Operator, in particular this concerns companies: Google (Google Inc. based in the USA), Facebook (Facebook Inc. based in the USA), Twitter (Twitter Inc. based in the USA).
    </p>
    <br>
    <h5>2. Managing cookies - how to give and withdraw consent in practice?</h5>
    <p>
        If you do not want to receive cookies, you can change your browser settings. We stipulate that disabling cookies necessary for authentication processes, security, maintenance of user preferences may hinder, and in extreme cases may prevent the use of the websites.
    </p>
</body>
</html>
